.maligno-title-r {
  color: var(--newspaper-text);
  font-family: var(--font-regular);
  font-size: 175%;
}
.maligno-title-x {
  color: var(--newspaper-text);
  font-family: var(--font-regular);
  font-size: 250%;
}
.maligno-title-xx {
  color: var(--newspaper-text);
  font-family: var(--font-regular);
  font-size: 400%;
}

.maligno-title-xxx {
  color: var(--newspaper-text);
  font-family: var(--font-regular);
  font-size: 500%;
}

.maligno-text-r {
  color: var(--white);
  font-family: var(--font-regular);
  font-size: clamp(2rem, 1.5vmax, 4rem);
}
.maligno-text-x {
  color: var(--white);
  font-family: var(--font-regular);
  font-size: clamp(2rem, 1.5vmax, 4rem);
}
.maligno-text-xx {
  color: var(--white);
  font-family: var(--font-regular);
  font-size: clamp(3rem, 2vmax, 5rem);
}

.maligno-text-xxx {
  color: var(--white);
  font-family: var(--font-regular);
  font-size: clamp(4rem, 2.5vmax, 6rem);
}

#right-title {
  text-align: center;
}

#first-title {
  text-align: center;
  padding-top: 32px;
  color: var(--newspaper-text);
}

#second-title {
  text-align: center;
  color: var(--newspaper-text);
}

#third-title {
  text-align: center;
  padding-bottom: 16px;
  color: var(--newspaper-text);
}